@import '../App.scss';

#contact {
    background-color: $silver;
    min-height: 200px;
    .contact-card {
        background-color: white;
        border: solid 4px $onyx;
        word-wrap: normal;
        width: 75%;
        overflow: hidden;

        p, a {
            color: $onyx;
            font-size: .9rem;
        }

        p a:active,
        p a:hover {   
            font-size: 1rem;
            color: $rosegold;
        }

        hr {
            border-color: $rosegold;
          }

    }

    @media screen and (max-width: 767.98px) {           
            .contact-card {
                min-width: 75%;
                max-height: 130px;
                           
                h4, p {
                    margin: 0;
                    padding: 0;
                }
            }
        
    }
    @media screen and (max-width: 575.98px) {
        
        hr {
            display: none;
        }
    }
}