@import '../App.scss';

#contact {
    background-color: $silver;
    min-height: 200px;
    .contact-card {
        background-color: white;
        border: solid 4px $onyx;
        word-wrap: normal;
        width: 50%;

        h4 {
            color: $rosegold;
            font-size: 1.2rem;
            font-family: $cinzel;
        }

        p, a {
            color: $onyx;
            font-size: .9rem;
        }

        p a:active,
        p a:hover {   
            font-size: 1rem;
            color: $rosegold;
        }

        hr {
            border-color: $rosegold;
          }

          .dark {
            border-color: $onyx; 
          }
    }

    @media screen and (max-width: 767.98px) {
        
            
            .contact-card {
                min-width: 100%;
                height: 60px;
                
                br, hr {
                    display: none;
                }
                h4, p {
                    margin: 0;
                    padding: 0;
                }
            }
        
    }
}