.top-stripe {
  height: 1.5rem;
  background-color: #49494b;
  text-align: right;
}

.span {
  font-size: .8rem;
  margin-right: 1.5rem;
  color: #d1bfa7;
}

.nav-bg {
  background-color: white;
}

.logo {
  color:#bd8c7d;
  font-size: 2rem;
}

.nav-color {
  color:  #49494b;
}

.btn-nav {
  background-color: #bd8c7d;
}
