@import '../App.scss';

#header{
  max-height: 90px;

  @media screen and (max-width: 575.98px){
    max-height: 40px;
   }
  
  .top-stripe {
    height: 1.5rem;
    background-color: $onyx;
    text-align: right;

    @media screen and (max-width: 575.98px){
      display: none;
     }

    .span {
      font-size: .8rem;
      margin-right: 1.5rem;
      color: $softgold;

    }

  }


  .color-change a:active,
  .color-change a:hover {
    color: $rosegold;
    font-size: 1.2rem;
  }

  .btn-nav a:active,
  .btn-nav a:hover {
    color: white;
    font-size: 1.2rem;
  }


  .nav-bg {
    background-color: white;

    .logo {
      color:$rosegold;
      font-family: $cinzel;
      font-size: 2rem;

      @media screen and (max-width: 575.98px){
        font-size: 1.4rem;
       }
    }

    .nav-color {
      color:  $onyx;

    }

    .btn-nav {
      background-color: $rosegold;
    }
  }


}
