@import '../App.scss';


#home{
  min-height: 676px;
  display: flex;
  background-color: $silver;


  .card-name {
    min-width: 16rem;
    min-height: 18rem;
    border: solid 6px;
    margin-top: 10rem;

    .name {
      margin-top: 1.5rem;
      color: $rosegold;

      .first{
        margin: 0;
        font-size: 2.2rem;
        font-weight: normal;
        text-align: right;
      }
      .middle {
        margin: 0;
        font-size: 2.3rem;
        text-align: left;
        font-family: $cinzel;
        font-weight: bold;
      }
      .last {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 200;
        font-style: italic;
        font-family: $roboto;
      }
    }

  }

  .card-img {
    border: solid 6px $onyx;
    margin-top: 5rem;

    img {
      width: 16rem;
    }
  }

  .card-skills {
    min-width: 16rem;
    min-height: 18rem;
    background-color: $onyx;
    margin-top: 17rem;
  }
}
