@import '../App.scss';


#home{
  min-height: 676px;
  display: flex;
  background-color: $silver;

 

  .card-name {
    border: solid 6px $onyx;
    margin-top: 10rem;
    word-wrap: normal;

    hr {
      border-color: $onyx;
    }
    

    .name {
      margin-top: 2.3rem;
      color: $rosegold;

      .first{
        margin: 0;
        font-size: 2.2rem;
        font-weight: normal;
        text-align: right;
      }
      .middle {
        margin: 0;
        font-size: 2.0rem;
        text-align: left;
        font-family: $cinzel;
        font-weight: bold;
      }
      .last {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 200;
        font-style: italic;
        font-family: $roboto;
      }
    }

    @media screen and (max-width: 575.98px){     
      order: 1;
      max-width: 100%;
      height: 60px;
      margin-top: 0;

      hr, br {
        display: none;
      }
      .name {
        margin: auto;       
        text-align: center;
        
        .first, .middle, .last {
          font-size: .65em;
          font-family: $cinzel;
          margin: auto;
          padding: 0;         
          display: inline;
          vertical-align: middle;
        }
      }
     }
    @media screen and (max-width: 425px) {
      .name {
      .first, .middle, .last {
        font-size: .45em;
      }
    }
    }
  }

  .card-img {
    background-image: url(./../../src/images/Profile-pic-B_W.JPG);
    border: solid 6px $onyx;
    background-size: cover;
    margin-top: 95px;

    img {
      width: 100%;
    }

    @media screen and (max-width: 575.98px){
      margin: 2.8em 0 1.0em 0;
      order: 2;
     }
  }

  .card-skills {
    background-color: $onyx;
    margin-top: 15rem;
    border: solid 6px lightgray;

    h2 {
      font-size: 1.5rem;
      font-family: $cinzel;
    }

    p{
      font-size: 1rem;
      color: rgba(255,255,255,.5);
      padding: 0;
    }
    p:last-child {
      padding: 1.0em;
    }

    hr {
      border-color: $rosegold;
      margin: 0 1.0em;
    }

    @media screen and (max-width: 575.98px){
      margin: 1.0em 0 1.0em 0;
      order: 3;
     }
     h2 {
       font-size: 1.0rem;
     }
     p {
       font-size: .85rem;
     }
  }
}
