@import '../App.scss';

#projects{
  min-height: 676px;
  background-color: $onyx;
  display: block;


  .project {
    background-color: $onyx;
    border: none;

    .projects-title{
      margin-top: 2rem;
      border: solid 4px $softgold;
      
      h3{
        font-family: $cinzel;
        color: $softgold;
      }
    }

  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $onyx;
    opacity: 0.7;
    overflow: hidden;
    transition: .5s ease; 
    
    .text {
      color: white;
      font-size: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  


  .card-columns{
    margin-top: 8rem;

    .project-1 {
      background-image: url(./../../src/images/bw_ladybug_game.jpg);
      border: solid 6px $rosegold;
      background-size: cover;

      .overlay {        
        width: 0;
        height: 100%;
                  
        .text {
          white-space: wrap;
        }
      }
        

    }
    .project-1:hover { 
      background-image: url(./../../src/images/ladybug_game.png);
      .overlay {
        width: 100%;
        cursor: pointer;
      }
    }

    .project-2 {
      background-image: url(./../../src/images/team_screenshot.png);
      border: solid 6px $silver;
      background-size: cover;

      .overlay {
        width: 100%;
        height: 0;
        
        .text {
          text-align: center;
        }
      }
    }
    .project-2:hover .overlay {
      bottom: 0;
      height: 100%;
      cursor: pointer;
    }

    .project-3 {
      background-image: url(./../../src/images/bw_neighborhood_map.jpg);
      border: solid 6px $silver;
      background-size: cover;

      .overlay {
        bottom: 100%;
        width: 100%;
        height: 0;
        
        .text {
          text-align: center;
        }
      }
    }
    .project-3:hover {
      background-image: url(./../../src/images/neighborhood_map.png);
      .overlay {
        bottom: 0;
        height: 100%;
        cursor: pointer;
      }
    }

    .project-4 {
      background-image: url(./../../src/images/bw_exploresocal.png);
      border: solid 6px $rosegold;
      background-size: cover;

      .overlay {
        left: 100%;
        width: 0;
        height: 100%;
        
        .text {
          white-space: wrap;
        }
      }
    }
    .project-4:hover {
      background-image: url(./../../src/images/exploresocal.png);
      .overlay {
        width: 100%;
        left: 0;
        cursor: pointer;
      }
    }
  }

}
