@import '../App.scss';

#projects{
  min-height: 676px;
  background-color: $onyx;
  display: block;


  .project {
    background-color: $onyx;

    .projects-title{
        margin-top: 2rem;
      border: solid 4px $softgold;
      h3{
        font-family: $cinzel;
        color: $softgold;
      }
    }

  }


  .card-columns{
    margin-top: 8rem;

    .project-1 {
      background-image: url(./../../src/images/ladybug_game.png);
      border: solid 6px $rosegold;
      background-size: cover;

    }

    .project-2 {
      background-image: url(./../../src/images/team_screenshot.png);
      border: solid 6px $silver;
      background-size: cover;
    }

    .project-3 {
      background-image: url(./../../src/images/neighborhood_map.png);
      border: solid 6px $rosegold;
      background-size: cover;
      }
  }

}
